.ForgotPassword {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 990;
	background-color: white;
	width: 100vw;
}

.ForgotPassword__image {
	flex: 0 0 52rem;
	height: 100vh;
	background-image: url("../../resources/images/sign-in-background.svg");
	/* background by SVGBackgrounds.com */
}

.ForgotPassword__image {
	color: #e1eceb;
	white-space: pre;
	padding: 8rem 4rem;
}

.ForgotPassword__image h1 {
	font-size: 3.2rem;
	font-weight: 600;
	text-align: left;
}

.ForgotPassword__image svg {
	color: #e1eceb;
	height: 4.5rem;
}

.ForgotPassword__image div {
	margin-bottom: 5rem;
}

.ForgotPassword__form {
	flex: 1;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.ForgotPassword__details {
	max-width: 40rem;
	width: 100%;
	margin: 3rem;
}

.ForgotPassword__details p {
	font-size: 1.4rem;
	line-height: 2rem;
}

.ForgotPassword__details form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1.5rem;
}

.ForgotPassword__details h2 {
	font-weight: bold;
	text-align: left;
	margin-bottom: 2rem;
}

.ForgotPassword__details h4 {
	width: 100%;
	text-align: left;
	text-transform: none;
	font-weight: bold;
}

.ForgotPassword__details span {
	font-weight: normal;
	margin-left: calc(67% - 8ch);
}

.ForgotPassword__details a {
	text-decoration: none solid rgb(79, 60, 201) auto;
}

.ForgotPassword__details a.active,
.ForgotPassword__details a:active {
	color: rgb(79, 60, 201);
}

.ForgotPassword__details form div {
	height: 4.5rem;
	width: 100%;
}

.ForgotPassword__details form div input {
	text-transform: none;
}

@media screen and (max-width: 961px) {
	.ForgotPassword__image {
		display: none;
	}
}
