.Tooltip {
	position: relative;
	/* z-index: 999; */
}

.Tooltip__text {
	position: absolute;
	/* z-index: 999; */
	font-size: 1.2rem;
	display: none;
	min-width: 24ch;
	min-height: 4ch;
	max-width: 70ch;
	max-height: 25ch;
	/* backdrop-filter: blur(5px); */
	background-color: rgba(0, 0, 0, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.4);
	border-radius: 0.4rem;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0.5rem;
	text-align: center;
	text-transform: none;
}

.Tooltip:hover .Tooltip__text {
	display: block;
}

@media screen and (max-width: 481px) {
	.Tooltip__text {
		min-width: 20ch;
	}
}
